/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=============== VARIABLES CSS ===============*/

:root {
  --white-color: #FFFFFF;
  --dark-color: #2c2828;
  --bg-color: #F6F6F8;
  --main-orange: #FF4C00;
  --main-gray: #ECEDEF;
  --main-white: #ffffff;
  --bg-footer: #454545;
  --body-font: "Open Sans", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --h1-special: 2.8em;
  --h1-font: 2em;
  --h2-font: 1.5em;
  --h3-font: 1.25em;
  --regular-font: 1em;
  --second-font: 1.5em;
  --font-128: 5em;
}

.section-advantages {
  padding: 90px 0px;
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
}

.section-advantages__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-advantages__block {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.section-advantages__block span {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  font-weight: 700;
  color: var(--white-color);
  width: 40%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
  font-family: var(--body-font);
  color: var(--dark-color);
}

.body-lock {
  overflow-y: hidden;
}

.wrapp-page {
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: var(--h1-font);
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: var(--h2-font);
  line-height: 110%;
  font-weight: 700;
}

h3 {
  font-size: var(--h3-font);
  line-height: 110%;
  font-weight: 700;
}

p {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
}

.button-primary {
  background: var(--main-orange);
  color: var(--main-white);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background: #DAAB3A;
}

.button-gray {
  background: var(--main-gray);
  text-align: center;
  color: var(--main-white);
  padding: 15px 30px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button-gray:hover {
  background: var(--main-orange);
}

.swiper-button-disabled {
  display: none;
}

.section-breadcrumb {
  padding-top: 60px;
}

.breadcrumb a {
  color: var(--main-orange);
}

.section-404 {
  height: calc(100vh - 115px);
}

.section-404 h1 {
  color: var(--main-orange);
  font-size: 12em;
}

.section-404__container {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-404__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-content {
  color: var(--dark-color);
}

.inner-content h2 {
  margin-bottom: 30px;
}

.inner-content p {
  margin-bottom: 10px;
}

.inner-content ul {
  padding-left: 15px;
  list-style: disc;
}

.inner-content ul li {
  margin-bottom: 15px;
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
}

.inner-content b {
  font-weight: 700;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  width: 100%;
  border: 1px solid #ddd;
}

.styled-table thead tr {
  background: var(--main-gray);
  color: var(--main-white);
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}

.styled-table tbody tr:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.tabs {
  width: 100%;
  display: block;
}

.tab-links {
  margin-bottom: 40px;
  list-style: none;
}

.tab-links li {
  display: inline-block;
  margin-right: 5px;
}

.tab-links li a {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 30px;
  background: #ddd;
  color: #333;
  border-radius: 8px;
}

.tab-links li a.active {
  background: #009879;
  color: #fff;
}

.tab-links .active a {
  background: var(--main-orange);
  color: var(--main-white);
}

.tab-content {
  -webkit-box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
  box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
  padding: 30px;
  background: #fff;
  border-radius: 8px;
}

.tab-content h2 {
  margin-bottom: 30px;
}

.tab-content .tab {
  display: none;
}

.tab-content .tab.active {
  display: block;
}

.span-computex {
  font-size: var(--h3-font);
  line-height: 110%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4470588235);
  opacity: 0.7;
}

.hero-service {
  padding: 90px 0;
  background: var(--main-orange);
  position: relative;
}

.hero-service h1 {
  color: var(--main-white);
}

.hero-service__img {
  position: absolute;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  right: 10%;
  top: 0;
}

.white-button {
  background: var(--main-white);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  margin-top: 30px;
}

.white-button__text {
  color: var(--main-orange);
  text-transform: uppercase;
  font-weight: 700;
}

.title-words {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
  color: var(--main-orange);
}

.title-words::before {
  content: attr(title);
  position: absolute;
  z-index: -1;
  font-size: var(--h1-special);
  color: rgba(223, 222, 222, 0.2431372549);
  text-transform: uppercase;
  top: 0;
  left: 15px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  width: 100%;
  border: 1px solid #ddd;
}

.styled-table thead tr {
  background: var(--main-gray);
  color: var(--dark-color);
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}

.styled-table tbody tr:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.section-contact__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-contact__block #map {
  height: 100%;
}

.section-contact__info {
  padding: 30px 0px;
  background: var(--main-orange);
}

.section-contact__info h1 {
  color: var(--main-white);
  margin-bottom: 60px;
}

.section-contact__info h3 {
  margin-bottom: 15px;
  color: var(--main-white);
}

.section-contact__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-contact__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  opacity: 0.9;
}

.section-contact .icon {
  color: var(--main-white);
}

.section-contact .text {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  color: var(--main-white);
  font-weight: 500;
}

.section-contact a {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  color: var(--main-white);
  font-weight: 500;
}

.section-contact__phons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.section-contact__social {
  color: var(--main-yellow);
}

.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  color: var(--main-white);
  background: var(--bg-footer);
}

.footer h3 {
  font-weight: 500;
  margin-bottom: 30px;
  color: var(--main-orange);
}

.footer__contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.footer__contact svg {
  width: 20px;
}

.footer__phone {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  color: var(--dark-color);
}

.footer__phone .text {
  font: 18px/110% var(--title-font);
}

.footer__time,
.footer__local {
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--dark-color);
}

.footer__wrapp {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer .nav-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.footer .nav-footer a {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  color: var(--main-white);
}

.footer__copyright {
  padding-top: 60px;
  text-align: center;
}

.footer__copyright p {
  font-size: 14px;
}

.button-up {
  display: block;
  float: right;
  color: var(--main-orange);
  cursor: pointer;
  padding: 16px 20px;
  background: #fff;
  -webkit-box-shadow: 0 6px 10px 0 rgba(68, 68, 68, 0.212);
  box-shadow: 0 6px 10px 0 rgba(68, 68, 68, 0.212);
}

.header {
  width: 100%;
  background: var(--main-white);
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  -webkit-box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
  box-shadow: 2px -1px 13px 6px rgba(190, 188, 188, 0.22);
}

.header .header-top {
  padding: 10px 0px;
}

.header .header-top__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header-top__logo img {
  height: 40px;
}

.header .header-top__info {
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-top__info .icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--main-orange);
}

.header .header-top__info a {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  color: var(--dark-color);
  font-weight: 500;
}

.header .header-top__info .text {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  color: var(--dark-color);
  font-weight: 500;
}

.header .header-bottom .sub-menu .nav__link {
  color: var(--dark-color);
}

.header .header-bottom__container {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header-bottom .nav {
  height: 100%;
}

.header .header-bottom .nav__list {
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-bottom .nav__item {
  position: relative;
}

.header .header-bottom .nav__link {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  color: var(--dark-color);
  font-weight: 500;
  padding-right: 20px;
  z-index: 100;
}

.show {
  display: block !important;
  height: calc(100vh - 60px);
}

.show .header-bottom__container {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: calc(100vh - 80px);
}

.show .nav__list {
  gap: 30px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero {
  position: relative;
  overflow: hidden;
  z-index: 10;
  height: calc(100vh - 116px);
  background: var(--main-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__bg {
  position: absolute;
  z-index: 1;
  left: 58%;
}

.hero__bg img {
  -o-object-fit: cover;
  object-fit: cover;
}

.hero__container {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
}

.hero__container h1 {
  font: 900 var(--h1-special)/100% "Mulish", sans-serif;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: var(--main-orange);
}

.hero__container h2 {
  text-transform: uppercase;
  color: var(--main-white);
  font-weight: 500;
  margin-bottom: 30px;
}

.hero__container p {
  color: var(--main-dark);
  width: 80%;
  font-weight: 500;
}

.hero__btn {
  margin-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  gap: 15px;
  color: var(--main-dark);
  padding: 5px 10px;
}

.hero__btn .btn-text {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  font-weight: 600;
  color: var(--main-dark);
}

.hero__content {
  width: 60%;
}

.hero__img {
  position: absolute;
  right: 0;
  width: 35%;
}

.hero__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
}

.hero-services {
  padding: 60px 0px;
}

.hero-services .breadcrumb {
  margin-bottom: 30px;
  color: var(--main-white);
}

.hero-services .breadcrumb_last {
  color: var(--main-white);
}

.hero-services h1 {
  color: var(--main-white);
}

.circle {
  position: absolute;
  height: 160px;
  width: 160px;
  top: 5%;
  left: 20%;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
  overflow: hidden;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4C00), to(tomato));
  background: -o-linear-gradient(top, #FF4C00 0%, tomato 100%);
  background: linear-gradient(to bottom, #FF4C00 0%, tomato 100%);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.btn::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--main-orange);
  content: "";
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.btn.is-clicked {
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(rgba(255, 16, 16, 0.21)));
  background: -o-linear-gradient(top, gray 0%, rgba(255, 16, 16, 0.21) 100%);
  background: linear-gradient(to bottom, gray 0%, rgba(255, 16, 16, 0.21) 100%);
}

.btn.is-clicked:before {
  -webkit-animation: blastOut 1s;
  animation: blastOut 1s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }

  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }

  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
}

@-webkit-keyframes blastOut {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9;
  }

  to {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
  }
}

@keyframes blastOut {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9;
  }

  to {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.map-section {
  position: relative;
}

.map-section__wrapp {
  padding: 60px 0px;
  background: var(--main-orange);
  width: 100%;
}

.map-section__info {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.map-section__container {
  position: relative;
}

.map-section__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--main-gray);
  opacity: 0.9;
}

.map-section__row .text {
  font-size: var(--regular-font);
  line-height: 140%;
  font-weight: 400;
  font-weight: 600;
  color: var(--main-white);
}

.map-section__row .icon {
  color: var(--main-white);
}

.map-section__card h3 {
  margin-bottom: 30px;
  color: var(--main-white);
}

.map-section__social {
  color: var(--main-white);
  opacity: 0.9;
}

.map-section__phons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

#map {
  height: 300px;
}

.ymaps-2-1-79-ground-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.reference {
  padding: 90px 0px;
  background: var(--main-white);
}

.reference h2 {
  margin-bottom: 30px;
}

.accordion__body {
  display: none;
  padding-left: 30px;
  margin-bottom: 20px;
  color: var(--dark-color);
  border-left: 1px solid var(--main-orange);
}

.accordion__title {
  cursor: pointer;
  position: relative;
}

.accordion .show-accordion::after {
  background: url('data:image/svg+xml,%3Csvg width="35" height="5" viewBox="0 0 35 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cline y1="2.5" x2="35" y2="2.5" stroke="%23FF4C00" stroke-width="4"/%3E%3C/svg%3E') no-repeat center center/contain;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordion__title:after {
  background: url('data:image/svg+xml,%3Csvg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.5 0C18.0802 0 18.6366 0.230469 19.0468 0.640704C19.457 1.05094 19.6875 1.60734 19.6875 2.1875V15.3125H32.8125C33.3927 15.3125 33.9491 15.543 34.3593 15.9532C34.7695 16.3634 35 16.9198 35 17.5C35 18.0802 34.7695 18.6366 34.3593 19.0468C33.9491 19.457 33.3927 19.6875 32.8125 19.6875H19.6875V32.8125C19.6875 33.3927 19.457 33.9491 19.0468 34.3593C18.6366 34.7695 18.0802 35 17.5 35C16.9198 35 16.3634 34.7695 15.9532 34.3593C15.543 33.9491 15.3125 33.3927 15.3125 32.8125V19.6875H2.1875C1.60734 19.6875 1.05094 19.457 0.640704 19.0468C0.230469 18.6366 0 18.0802 0 17.5C0 16.9198 0.230469 16.3634 0.640704 15.9532C1.05094 15.543 1.60734 15.3125 2.1875 15.3125H15.3125V2.1875C15.3125 1.60734 15.543 1.05094 15.9532 0.640704C16.3634 0.230469 16.9198 0 17.5 0Z" fill="%23FF4C00"/%3E%3C/svg%3E') no-repeat center center/contain;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  position: absolute;
  right: 0px;
  top: 40%;
  width: 20px;
  height: 20px;
}

.accordion h3 {
  font-size: var(--h3-font);
  line-height: 110%;
  font-weight: 700;
  color: var(--dark-color);
}

.accordion:not(:last-child) {
  border-bottom: 1px solid rgba(61, 61, 61, 0.212);
}

.accordion:not(:last-child) .accordion__title {
  padding: 30px 0px;
}

.accordion:last-child .accordion__title {
  padding-top: 20px;
}

.accordion:last-child .accordion__body {
  margin-top: 20px;
}

.section-plus {
  padding: 90px 0px;
}

.section-plus__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 60px;
}

.section-plus__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.section-plus__block h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-plus__block p {
  color: var(--white-color);
  font-weight: 600;
}

.section-plus__bg {
  font-size: 23em;
  font-weight: 900;
  color: rgba(170, 170, 170, 0.1);
  position: absolute;
  top: -20%;
  right: -12%;
  z-index: 1;
}

.section-plus__img {
  height: 250px;
}

.section-plus__block--2 h2 {
  color: var(--white-color);
}

.service-links {
  padding: 90px 0px;
}

.service-links__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.service-links__link {
  background: var(--white-color);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 30px;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.service-links__link img {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 180px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service-links__link h3 {
  color: var(--main-orange);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.service-links__arrow {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service-price {
  padding: 90px 0px;
  background: var(--main-white);
}

.service-info {
  padding: 90px 0px;
}

.service-info__row {
  gap: 30px;
}

.service-info__row p {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.service-info__row:not(:last-child) {
  margin-bottom: 30px;
}

.section-all-link {
  padding: 90px 0px;
}

.section-all-link h3 {
  margin-bottom: 15px;
  color: var(--dark-color);
  text-transform: uppercase;
}

.section-all-link__container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.section-all-link__link {
  padding: 30px;
  background: var(--main-white);
  border-radius: 15px;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.section-all-link__btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  color: var(--main-orange);
  font-weight: 600;
}

@supports (-webkit-appearance:none) {
  .accordion .show-accordion::after {
    background-image: url('data:image/svg+xml,%3Csvg width="35" height="5" viewBox="0 0 35 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cline y1="2.5" x2="35" y2="2.5" stroke="%23FF4C00" stroke-width="4"/%3E%3C/svg%3E');
  }

  .accordion__title:after {
    background-image: url('data:image/svg+xml,%3Csvg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.5 0C18.0802 0 18.6366 0.230469 19.0468 0.640704C19.457 1.05094 19.6875 1.60734 19.6875 2.1875V15.3125H32.8125C33.3927 15.3125 33.9491 15.543 34.3593 15.9532C34.7695 16.3634 35 16.9198 35 17.5C35 18.0802 34.7695 18.6366 34.3593 19.0468C33.9491 19.457 33.3927 19.6875 32.8125 19.6875H19.6875V32.8125C19.6875 33.3927 19.457 33.9491 19.0468 34.3593C18.6366 34.7695 18.0802 35 17.5 35C16.9198 35 16.3634 34.7695 15.9532 34.3593C15.543 33.9491 15.3125 33.3927 15.3125 32.8125V19.6875H2.1875C1.60734 19.6875 1.05094 19.457 0.640704 19.0468C0.230469 18.6366 0 18.0802 0 17.5C0 16.9198 0.230469 16.3634 0.640704 15.9532C1.05094 15.543 1.60734 15.3125 2.1875 15.3125H15.3125V2.1875C15.3125 1.60734 15.543 1.05094 15.9532 0.640704C16.3634 0.230469 16.9198 0 17.5 0Z" fill="%23FF4C00"/%3E%3C/svg%3E');
  }
}

@media only screen and (min-width: 768px) {
  .button-up.scroll-top_down {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 1000;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .button-up.scroll-top_up {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 1000;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .button-up:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  .footer a:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: var(--main-orange);
  }

@supports (-webkit-appearance:none) {

}
}

@media only screen and (min-width: 1024px) {
  .section-advantages {
    background-attachment: fixed;
  }

  .white-button:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.8901960784);
    gap: 30px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .section-contact__row:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .section-contact__social:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .header-top a:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: var(--main-orange);
  }

  .header_down {
    top: -200px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header_up {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: fixed;
    -webkit-box-shadow: 0 8px 20px 0 rgba(2, 24, 44, 0.194);
    box-shadow: 0 8px 20px 0 rgba(2, 24, 44, 0.194);
  }

  .nav__item:hover > .sub-menu {
    display: block;
  }

  .sub-menu {
    position: absolute;
    min-width: 300px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1000;
    left: 0px;
    top: 50px;
    padding: 24px;
    background: var(--white-color);
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 40px 2px rgba(0, 19, 27, 0.1);
    box-shadow: 0px 4px 40px 2px rgba(0, 19, 27, 0.1);
    display: none;
    visibility: visible;
  }

  .sub-menu li a {
    padding: 0 !important;
    width: 100%;
    display: block;
  }

  .sub-menu li:not(:last-child) {
    margin-bottom: 16px;
  }

  .header-bottom .nav__link {
    padding-bottom: 30px;
  }

  .header-bottom .nav__link:hover {
    color: var(--main-orange) !important;
  }

  .header-top {
    border-bottom: 1px solid rgb(214, 214, 214);
  }

  .burger-menu {
    display: none;
  }

  .hero__bg img {
    height: 1100px;
  }

  .hero__btn:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    gap: 30px;
  }

  .hero__btn:hover .btn-text {
    color: var(--main-orange);
  }

  .map-section__row:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .map-section__social:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .service-links__link:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: var(--main-orange);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .service-links__link:hover h3 {
    color: var(--white-color);
  }

  .service-links__link:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .service-links__link:hover .service-links__arrow {
    display: block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .section-all-link__link:hover {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: var(--main-orange);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .section-all-link__link:hover h3 {
    color: var(--white-color);
  }

  .section-all-link__link:hover .section-all-link__btn {
    color: var(--white-color);
    gap: 15px;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .section-all-link__link:hover .section-all-link__btn rect {
    fill: #fff;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .section-all-link__link:hover .section-all-link__btn path {
    fill: var(--main-orange);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

@supports (-webkit-appearance:none) {

}
}

@media only screen and (max-width: 1247px) {
  :root {
    --h1-special: 2.5em;
  }

@supports (-webkit-appearance:none) {

}
}

@media only screen and (max-width: 1023px) {
  :root {
    --h1-special: 2em;
    --h1-font: 2em;
    --h2-font: 1.3em;
    --h3-font: 1.1em;
    --font-128: 3em;
    --second-font: 1em;
  }

  .section-advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 60px;
  }

  .section-advantages__block span {
    width: 100%;
  }

  .styled-table {
    border: none;
  }

  .styled-table thead {
    display: none;
  }

  .styled-table tbody,
  .styled-table tr,
  .styled-table td {
    display: block;
    width: 100%;
  }

  .styled-table tr {
    margin-bottom: 15px;
  }

  .styled-table tr td:first-child {
    font-weight: 700;
  }

  .styled-table td {
    position: relative;
  }

  .styled-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .hero-service {
    z-index: 10;
  }

  .hero-service__img {
    height: 170px;
    z-index: -1;
    top: 10%;
    right: 0;
  }

  .section-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-contact__column {
    grid-template-columns: 1fr;
  }

  .footer__wrapp {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 60px;
  }

  .footer .contact,
  .footer .nav-footer,
  .footer .contact-2 {
    width: 45%;
  }

  .header-bottom {
    display: none;
  }

  .header-bottom .nav {
    width: 100%;
    overflow-y: auto;
  }

  .header-bottom .nav__list {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 0px;
  }

  .header-bottom .nav__item {
    width: 100%;
    padding-bottom: 30px;
  }

  .header-bottom .nav__link {
    font-size: 24px;
  }

  .header-top__info {
    display: none;
  }

  .header-main .burger-menu span {
    background: var(--main-white);
  }

  .header-main .show {
    background: #37424c;
  }

  .header-main .header-bottom .sub-menu .nav__link {
    color: var(--white-color);
  }

  .show-main {
    background: #37424c;
  }

  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
  }

  .burger-menu span {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: var(--dark-color);
    display: block;
    height: 3px;
    width: 30px;
  }

  .burger-menu-active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .burger-menu-active span:nth-child(2) {
    display: none;
  }

  .burger-menu-active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .nav__item:hover > .sub-menu {
    display: block;
  }

  .sub-menu {
    position: relative;
    z-index: 1000;
    padding: 24px;
    display: none;
    visibility: visible;
    padding-bottom: 0px;
  }

  .sub-menu li {
    padding-bottom: 10px !important;
  }

  .sub-menu li a {
    padding: 0 !important;
    width: 100%;
    display: block;
  }

  .sub-menu li:not(:last-child) {
    margin-bottom: 16px;
  }

  .show-main .menu-item-has-children::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.4351 1.26306C27.1198 1.83997 27.1821 2.74274 26.6219 3.3789L26.4351 3.56116L14.8637 13.3112C14.179 13.8881 13.1076 13.9405 12.3526 13.4685L12.1363 13.3112L0.564864 3.56116C-0.18829 2.92656 -0.18829 1.89766 0.564864 1.26306C1.24955 0.68615 2.32097 0.633704 3.07597 1.10572L3.29227 1.26306L13.5 9.86401L23.7077 1.26306C24.4609 0.628459 25.682 0.628459 26.4351 1.26306Z' fill='%23FFFFFF'/%3E%3C/svg%3E") !important;
  }

  .show .menu-item-has-children {
    position: relative;
  }

  .show .menu-item-has-children::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.4351 1.26306C27.1198 1.83997 27.1821 2.74274 26.6219 3.3789L26.4351 3.56116L14.8637 13.3112C14.179 13.8881 13.1076 13.9405 12.3526 13.4685L12.1363 13.3112L0.564864 3.56116C-0.18829 2.92656 -0.18829 1.89766 0.564864 1.26306C1.24955 0.68615 2.32097 0.633704 3.07597 1.10572L3.29227 1.26306L13.5 9.86401L23.7077 1.26306C24.4609 0.628459 25.682 0.628459 26.4351 1.26306Z' fill='%23353030'/%3E%3C/svg%3E");
    height: 12px;
    width: 25px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
  }

  .hero {
    height: calc(100vh - 62px);
    background-position: 80% 50%;
  }

  .hero__bg {
    display: none;
  }

  .hero__img {
    display: none;
  }

  .hero__container p {
    width: 100%;
  }

  .hero__content {
    width: 100%;
  }

  .circle {
    top: 70%;
    left: 50%;
  }

  .map-section__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .section-plus__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-plus__block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 270px;
  }

  .section-plus__img {
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    display: block;
  }

  .section-plus__bg {
    font-size: 15em;
  }

  .service-links__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .service-info__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-all-link__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

@supports (-webkit-appearance:none) {
    .show-main .menu-item-has-children::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.4351 1.26306C27.1198 1.83997 27.1821 2.74274 26.6219 3.3789L26.4351 3.56116L14.8637 13.3112C14.179 13.8881 13.1076 13.9405 12.3526 13.4685L12.1363 13.3112L0.564864 3.56116C-0.18829 2.92656 -0.18829 1.89766 0.564864 1.26306C1.24955 0.68615 2.32097 0.633704 3.07597 1.10572L3.29227 1.26306L13.5 9.86401L23.7077 1.26306C24.4609 0.628459 25.682 0.628459 26.4351 1.26306Z' fill='%23FFFFFF'/%3E%3C/svg%3E") !important;
    }

    .show .menu-item-has-children::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='14' viewBox='0 0 27 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.4351 1.26306C27.1198 1.83997 27.1821 2.74274 26.6219 3.3789L26.4351 3.56116L14.8637 13.3112C14.179 13.8881 13.1076 13.9405 12.3526 13.4685L12.1363 13.3112L0.564864 3.56116C-0.18829 2.92656 -0.18829 1.89766 0.564864 1.26306C1.24955 0.68615 2.32097 0.633704 3.07597 1.10572L3.29227 1.26306L13.5 9.86401L23.7077 1.26306C24.4609 0.628459 25.682 0.628459 26.4351 1.26306Z' fill='%23353030'/%3E%3C/svg%3E");
    }
}
}

@media only screen and (max-width: 767px) {
  .footer__wrapp {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .footer .contact,
  .footer .nav-footer,
  .footer .contact-2 {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media only screen and (max-width: 559px) {
  :root {
    --h1-special: 1.8em;
    --h1-font: 1.8em;
    --h2-font: 1.1em;
    --h3-font: 1em;
    --font-128: 2em;
    --second-font: 1em;
  }

@supports (-webkit-appearance:none) {

}
}