/*=============== VARIABLES CSS ===============*/


:root {

    //colors
    --white-color: #FFFFFF;
    --dark-color: #2c2828;
    --bg-color: #F6F6F8;
    --main-orange: #FF4C00;
    --main-gray: #ECEDEF;
    --main-white: #ffffff;
    --bg-footer:#454545;
    
    //font
    --body-font: "Open Sans", sans-serif;
    --title-font: 'Montserrat', sans-serif;

    //font-size
    --h1-special: 2.8em;
    --h1-font: 2em;
    --h2-font: 1.7em;
    --h3-font: 1.25em;
    --regular-font: 1em;
    --second-font: 1.5em;
    --font-128:5em;

    @include mq(desktop, max) {
        --h1-special: 2.5em;
    }
    @include mq(tablet-wide, max) {
        --h1-special: 2em;
        --h1-font: 2em;
        --h2-font: 1.3em;
        --h3-font: 1.1em;
        --font-128:3em;
        --second-font: 1em;
    }
    @include mq(phablet, max) {
        --h1-special: 1.8em;
        --h1-font: 1.8em;
        --h2-font: 1.1em;
        --h3-font: 1em;
        --font-128:2em;
        --second-font: 1em;
    }
}