
.section-about {
    position: relative;
    padding: 90px 0px;
    background:var(--main-white);
    &__container {
        gap: 60px;
    }
    &__block {
        margin-bottom: 60px;
        p {
            font-weight: 700;
            font-size: var(--h2-font);
            line-height: 120%;
            color: var(--main-orange);
            display: block;
            width: 65%;
            margin-bottom: 40px;
        }
        p:last-child {
            color: #5a5a5a;
            width: 60%;
            margin-left: auto;
            text-align: end;
            font-size: var(--h3-font);
            font-weight: 500;
        }
    }
    // .circle {
    //     width: 130px;
    //     height: 130px;
    //     bottom:20%;
    //     left: 15%;
    //     top: auto;
    // }
    &__number {
        
       display: grid;
       grid-template-columns: repeat(4,1fr);
        gap: 30px;
        span {
            line-height: 100%;
            font-weight: 800;
            color:var(--main-orange);
            font-size: var(--font-128);
        }
    }
    &__counter {
        text-align: center;
        p {
            margin-top: 15px;
            font-weight: 500;
        }
    }
    &__block {
        flex: 1;
    }
}

@include mq(tablet-wide, min) {
    .section-sertificat{
        &__block {
            @include hover {
                background: var(--main-orange);
                p {
                    color: #fff;
                }
            }
        }
    }
}

@include mq(tablet-wide, max) { 
    .section-about {
        &__container {
            flex-direction: column;
        }
        &__block {
            width: 100%;

            p {
                width: 100%;
            }
            p:last-child {
                width: 100%;
                text-align: left;
            }
        }
        &__number {
            grid-template-columns: repeat(2, 1fr);
            
        }
       
    }
    .section-sertificat {
        &__grid {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@include mq(phablet, max) { 
    .section-sertificat {
        &__grid {
            grid-template-columns: repeat(1,1fr);
        }
    }
}