.section-advantages{
    padding: 90px 0px;
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;
    &__container {
        justify-content: space-between;
        align-items: center;
    }
    &__block {
        align-items:center;
        flex: 1 0;
        max-width: 25%;
        gap: 30px;
        img {
            border-radius: 50%;
        }
        span {
            @include regular;
            font-weight: 700;
            color:var(--white-color);
        }
    }
}
@include mq(tablet-wide, min) {
    .section-advantages {
        background-attachment:fixed;
    }
}
@include mq(tablet-wide, max) {
    .section-advantages {
        &__container {
           flex-direction: column;
           gap: 60px;
           align-items:start;
        }
        &__block {
            max-width: 100%;
            span {
                width: 100%;
            }
        }
    }
}