.section-advantages{
    padding: 90px 0px;
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: cover;
    &__container {
        justify-content: space-between;
    }
    &__block {
        align-items:center;
        gap: 30px;
        span {
            @include regular;
            font-weight: 700;
            color:var(--white-color);
            width: 40%;
        }
    }
}
@include mq(tablet-wide, min) {
    .section-advantages {
        background-attachment:fixed;
    }
}
@include mq(tablet-wide, max) {
    .section-advantages {
        &__container {
           flex-direction: column;
           gap: 60px;
        }
        &__block {
            
            span {
                width: 100%;
            }
        }
    }
}