
.header {
    width: 100%;
    background:var(--main-white);
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    .header-top {
        padding: 10px 0px;
    
        &__container {
            align-items: center;
            justify-content: space-between;
        }
    
        &__logo {
            img {
                height: 35px;
                // width: 140px;
            }
        }
        &__info {
            gap: 10px;
            align-items: center;
            .icon {
                align-items: center;
                justify-content: center;
                color: var(--main-orange); 
            }
            a {
                @include regular;
                color: var(--dark-color);
                font-weight: 500;
                // text-transform: uppercase;
            }
            .text {
                @include regular;
                color: var(--dark-color);
                font-weight: 500;
                // text-transform: uppercase;
            }
        }
    }
    .header-bottom {
        .sub-menu {
            a {
                color:var(--dark-color);
            }
        }
        &__container {
            height: 100%;
            align-items: center;
            justify-content: space-between;
        }
    
        .nav {
            height: 100%;
    
            ul {
                gap: 20px;
                align-items: center;
            }
    
            li {
                position: relative;
                // padding-right: 16px;
            }
    
            a {
                @include regular;
                color: var(--dark-color);
                font-weight: 500;
                z-index: 100;
                &:not(:only-child) {
                    padding: 15px 0px;
                }
            }
        }
        .menu-item-has-children a {
            &:not(:only-child) {
                display: flex;
                gap: 5px;
                align-items:center;
            }
            &:not(:only-child):after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%232C2828' /%3E%3C/svg%3E");
                height: 24px;
                width: 24px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                display: block;
                top: 0px;
                bottom: 0px;
                right: 0px;
                transition: all 0.3s ease;
              }
        } 
    }
    
    .menu-item-has-children .active-menu {
        &:not(:only-child):after {
            transform: rotate(180deg);
            transition: all 0.3s ease;
        }
    }
}




@include mq(tablet-wide, max) {
    .header {
        .header-bottom {
            display: none;
    
            .nav {
                width: 100%;
                overflow-y: auto;
    
                ul {
                    align-items: flex-start;
                    gap: 10px;

                    li {
                        width: 100%;

                        a {
                            width: 100%;
                            font-size: 24px;
                            display: inline-block;
                            padding: 15px 0px;
                        }
                    }
                }
                .sub-menu {
                    padding-top: 0;
                }
            }
            .menu-item-has-children a:not(:only-child) {
                justify-content: space-between;
            }
        }
        
    }

    .header-top {

        &__info {
            display: none;
        }
    }
    
    
    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
            transition: all 0.3s ease;
            background: var(--dark-color);
            display: block;
            height: 3px;
            width: 30px;
        }
    }

    .burger-menu-active {
        span:nth-child(1) {
            transform: rotate(45deg);
            transition: all 0.3s ease;
        }

        span:nth-child(2) {
            display: none;
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
            position: relative;
            top: -8px;
            transition: all 0.3s ease;
        }
    }

    .sub-menu {
        position: relative;
        z-index: 1000;
        padding: 24px;
        display: none;
        visibility: visible;
        padding-bottom: 0px;

        li {
            padding-bottom: 10px !important;

            a {
                padding: 0 !important;
                width: 100%;
                display: block;
                // color:var(--dark-color)!important;
            }
        }

        li:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    
}

@include mq(tablet-wide, min) {
    .header {
        .header-top {
            &__info {
                a {
                    @include hover {
                        color:var(--main-orange);
                    }
                }
            }
            &__info {
                @include hover {
                    color:var(--main-orange);
                    .text {
                        color:var(--main-orange);   
                    }
                }
            }
            
        }
        .header-bottom {
            .nav {
            
                a:hover {
                    color: var(--main-orange)!important;
                }
            }
            .menu-item-has-children a {
                @include hover {
                    &:not(:only-child):after {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.8839 15.5303C12.3957 16.0185 11.6043 16.0185 11.1161 15.5303L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%23FF4C00' /%3E%3C/svg%3E");
                      }
                }
            } 
        }
    }
   
    
    .header_down {
        top: -200px;
        transition: all 0.3s ease;
    }
    // .header_up {
    //     transition: all 0.3s ease;
    //     position: fixed;
    //     box-shadow: 0 8px 20px 0 rgba(2, 24, 44, 0.194);
    // }

    .sub-menu {
        position: absolute;
        min-width: 300px;
        width: fit-content;
        z-index: 1000;
        left: 0px;
        top: 50px;
        padding: 24px;
        background: var(--white-color);
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        display: none;
        visibility: visible;

        li {
            a {
                padding: 0 !important;
                width: 100%;
                display: block;
            }
        }

        li:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .header-top {
        border-bottom: 1px solid rgb(214, 214, 214);
    }

    .burger-menu {
        display: none;
    }
}

.show {
    display: block !important;
    height: calc(100vh - 60px);

    .header-bottom__container {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: calc(100vh - 80px);
    }

    .nav {
        &__list {
            gap: 30px;
            height: 100%;
            flex-direction: column;
        }
    }
}