.law-section {
    padding-top: 90px;
    &__container {
        gap: 60px;
    }
    &__block {
        flex: 1;
    }
    &__img {
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            border-radius: 1rem;
        }
    }
}
.law-section-text {
    padding: 90px 0px;
    background:var(--main-white);
}

@include mq(tablet-wide, max){
    .law-section {
        &__container {
            flex-direction: column;
        }
    }
}