.reference {
    padding: 90px 0px;

    h2 {
        color: var(--dark-color);
        margin-bottom: 30px;
    }
}
.accordion {
    &__body {
        display: none;
        padding-left: 30px;
        margin-bottom: 20px;
        color: var(--dark-color);
        border-left: 1px solid var(--main-orange);
    }

    &__title {
        cursor: pointer;
        position: relative;
    }
    .show-accordion::after {
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image:url('data:image/svg+xml,%3Csvg width="35" height="5" viewBox="0 0 35 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cline y1="2.5" x2="35" y2="2.5" stroke="%23FF4C00" stroke-width="4"/%3E%3C/svg%3E');
        transition: all 0.5s ease-in-out;
    }

    &__title:after {
        content: "";
        transition: all 0.5s ease-in-out;
        display: block;
        position: absolute;
        right: 0px;
        top: 40%;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('data:image/svg+xml,%3Csvg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.5 0C18.0802 0 18.6366 0.230469 19.0468 0.640704C19.457 1.05094 19.6875 1.60734 19.6875 2.1875V15.3125H32.8125C33.3927 15.3125 33.9491 15.543 34.3593 15.9532C34.7695 16.3634 35 16.9198 35 17.5C35 18.0802 34.7695 18.6366 34.3593 19.0468C33.9491 19.457 33.3927 19.6875 32.8125 19.6875H19.6875V32.8125C19.6875 33.3927 19.457 33.9491 19.0468 34.3593C18.6366 34.7695 18.0802 35 17.5 35C16.9198 35 16.3634 34.7695 15.9532 34.3593C15.543 33.9491 15.3125 33.3927 15.3125 32.8125V19.6875H2.1875C1.60734 19.6875 1.05094 19.457 0.640704 19.0468C0.230469 18.6366 0 18.0802 0 17.5C0 16.9198 0.230469 16.3634 0.640704 15.9532C1.05094 15.543 1.60734 15.3125 2.1875 15.3125H15.3125V2.1875C15.3125 1.60734 15.543 1.05094 15.9532 0.640704C16.3634 0.230469 16.9198 0 17.5 0Z" fill="%23FF4C00"/%3E%3C/svg%3E');
    }

    h3 {
        @include h3;
        color: var(--dark-color);
    }
}

.accordion:not(:last-child) {
    border-bottom: 1px solid rgba(61, 61, 61, 0.212);

    .accordion__title {
        padding: 30px 0px;
    }
}

.accordion:last-child {
    .accordion__title {
        padding-top: 20px;
    }

    .accordion__body {
        padding-top: 20px;
    }
}


