extends layout/app

block page 
    include chunk/header
    main.main 
        section.hero-service 
            .container.hero-service__container 
                span.span-computex [ computex ]
                h1 О компании
                img.hero-service__img(src="./img/computer-computex.png" alt="")
        section 
            .container 
    include chunk/footer