extends layout/app

block page 
    include chunk/header
    main.main
        section.hero
            img(src="img/circle.svg" alt="").circle
            .hero__bg(data-aos="fade-left") 
                img(src="img/bg-ring.svg" alt="")
            .container.hero__container(data-aos="fade-right") 
                .hero__content 
                    //- span.span-computex [ computex ]
                    h1 сервисный центр по ремонту и обслуживанию техники
                    p Мы быстро и профессионально отремонтируем любое электронное устройство с гарантией. Отремонтируем, настроим, установим бытовую технику у Вас дома, на даче или на работе.
                    a(href='#all-service').hvr-bounce-to-right.hero__btn.flex
                        span.btn 
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.5303 11.1161C16.0185 11.6043 16.0185 12.3957 15.5303 12.8839L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289Z"
                                    fill="white"
                                )
                        span.btn-text Все услуги
                .hero__img
                    img(src="img/hero-services.png" alt="") 
        section.service-links(id="all-service")
            .container.service-links__container 
                a(href="./page-laptop.html").service-links__link.flex
                    .service-links__title
                        h3 ремонт ноутбуков
                        .service-links__arrow 
                            | Подробнее
                            svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                                rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                                path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                    .service-links__img
                        img(src="img/repair-book.png" alt="")    
                a(href="./cartridge-refilling.html").service-links__link.flex
                    .service-links__title
                        h3 заправка картриджей 
                        .service-links__arrow 
                            | Подробнее
                            svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                                rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                                path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                    .service-links__img
                        img(src="img/refilling-cartridges.png" alt="")
                a(href="./printer-repair.html").service-links__link.flex
                    .service-links__title
                        h3 ремонт принтеров
                        .service-links__arrow 
                            | Подробнее
                            svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                                rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                                path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                    .service-links__img
                        img(src="img/printers.png" alt="")
                a(href="./laptop-cleaning.html").service-links__link.flex
                    .service-links__title
                        h3 Ремонт и обслуживание ноутбуков
                        .service-links__arrow 
                            | Подробнее
                            svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                                rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                                path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                    .service-links__img 
                        img(src="img/laptop.png" alt="")
                a(href="./computer-repair.html").service-links__link.flex
                    .service-links__title
                        h3 Ремонт компьютеров
                        .service-links__arrow 
                            | Подробнее
                            svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                                rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                                path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                    .service-links__img 
                        img(src="../img/comp-serv.png" alt="")            
                a(href="./screen-replacement.html").service-links__link.flex
                    .service-links__title
                        h3 Продажа комплектующих
                        .service-links__arrow 
                            | Подробнее
                            svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                                rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                                rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                                path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                    .service-links__img 
                        img(src="img/po-repair.png" alt="")                
        .section-advantages(style='background-image: url("./img/checking-laptop.png"); ')
            .container.flex.section-advantages__container 
                .section-advantages__block.flex 
                    img(src="img/place-icon.svg" alt="") 
                    span В центре города
                .section-advantages__block.flex 
                    img(src="img/garant-icon-plus.svg" alt="") 
                    span Гарантия на все виды услуг
                .section-advantages__block.flex
                    img(src="img/exp-icon.svg" alt="") 
                    span Опыт работы с 2003 года
        include chunk/reference
        include chunk/section-plus

    include chunk/footer

