extends layout/app

block page 
    include chunk/header
    main.main 
        section.hero-service 
            .container.hero-service__container 
                span.span-computex [ computex ]
                h1 Юридические лица
                a.hero-service__link.white-button(href="./contact.html")
                    span.white-button__text Контакты
                    span.white-button__arrow
                        svg(width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.313814 0.313814C0.694195 -0.0665668 1.28943 -0.101147 1.70887 0.210074L1.82904 0.313814L8.25761 6.74239C8.63799 7.12277 8.67257 7.718 8.36135 8.13745L8.25761 8.25761L1.82904 14.6862C1.41062 15.1046 0.732233 15.1046 0.313814 14.6862C-0.0665666 14.3058 -0.101146 13.7106 0.210074 13.2911L0.313814 13.171L5.98477 7.5L0.313814 1.82904C-0.104605 1.41062 -0.104605 0.732233 0.313814 0.313814Z" fill="#FA5B18")
        section.law-section-text.services-text.inner-content 
            .container 
                h2 Процесс работы с юридическими лицами
                ul 
                    li Консультации и выбор оборудования. Специалисты помогают подобрать кондиционер, идеально подходящий для помещения по мощности и функциональности.
                    li Подготовка места установки. Это может включать демонтаж старых систем, подготовку стен и других поверхностей.
                    li Монтаж внутреннего и внешнего блоков. Специалисты аккуратно устанавливают и подключают все необходимые компоненты системы.
                    li Проверка системы и демонстрация работы. После установки проводится тестирование системы, чтобы убедиться в её исправной работе.
        section.law-section 
            .container.flex.law-section__container
                .law-section__img.law-section__block
                    img(src="./img/law-img.png" alt="")
                .law-section__content.inner-content.law-section__block 
                    h2 Почему мы?
                    ul 
                        li
                            b Широкий ассортимент оборудования. 
                            | Мы предлагаем разнообразие моделей кондиционеров от ведущих производителей, подходящих для любого типа помещения.
                        li
                            b Гибкие условия сотрудничества
                            | Мы предлагаем выгодные условия оплаты и различные варианты контрактов на обслуживание.
                        li
                            b Гарантия и надежность
                            | Все наши товары и услуги имеют гарантию, что обеспечивает уверенность и безопасность для вашего бизнеса.
                        li
                            b Сертифицированные специалисты
                            | Наши сотрудники имеют все необходимые сертификаты и регулярно проходят обучение для повышения квалификации.
        include chunk/section-all-link

    include chunk/footer