extends layout/app

block page 
    include chunk/header
    main.main 
        section.inner-content.type-page
            .container
                h1 Заголовок для типовой старницы 
                h2 Процесс работы с юридическими лицами
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum eum consequuntur aliquam at, eveniet autem ad. Similique saepe sequi, eaque, quidem quam fuga numquam magnam ratione enim accusamus non?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum recusandae culpa quos, libero praesentium enim! Maiores esse vero consectetur voluptatem expedita suscipit dolorem beatae velit, neque, minima quisquam perferendis cupiditate.
                ul 
                    li Консультации и выбор оборудования. Специалисты помогают подобрать кондиционер, идеально подходящий для помещения по мощности и функциональности.
                    li Подготовка места установки. Это может включать демонтаж старых систем, подготовку стен и других поверхностей.
                    li Монтаж внутреннего и внешнего блоков. Специалисты аккуратно устанавливают и подключают все необходимые компоненты системы.
                    li Проверка системы и демонстрация работы. После установки проводится тестирование системы, чтобы убедиться в её исправной работе.
        include chunk/map
    include chunk/footer