footer.footer 
  .container.footer__container
    .footer__wrapp.flex
      .footer__contact.nav-footer
        h3 Остальные направления
        ul 
          li
            a(href="") Кондиционеры
          li
            a(href="") Сервисный центр  
          li 
            a(href="") Печатный центр
      nav.nav-footer
        h3 Услуги
        ul 
          li 
            a(href="./page-laptop.html") Ремонт ноутбуков
          li 
            a(href="./cartridge-refilling.html") Заправка картриджей
          li 
            a(href="./printer-repair.html") Ремонт принтеров
          li 
            a(href="./laptop-cleaning.html") Чистка ноутбуков
          li 
            a(href="./computer-repair.html") Ремонт компьютера
          li 
            a(href="./screen-replacement.html") Замена матрицы и ПО
      nav.nav-footer
        h3 Информация 
        ul 
          li 
            a(href="./pay-page.html") Оплата и гарантия
          li 
            a(href="./contact.html") Контакты
          li 
            a(href="./about.html") О компании
          li 
            a(href="./law-page.html") Юридические лица
    .button-up
      svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M11.1161 8.46969C11.6043 7.98154 12.3957 7.98154 12.8839 8.46969L18.7071 14.2929C19.0976 14.6834 19.0976 15.3166 18.7071 15.7071C18.3166 16.0977 17.6834 16.0977 17.2929 15.7071L12 10.4142L6.70711 15.7071C6.31658 16.0977 5.68342 16.0977 5.29289 15.7071C4.90237 15.3166 4.90237 14.6834 5.29289 14.2929L11.1161 8.46969Z"
          fill="currentColor"
        )
    .footer__copyright
      p 
        | © 2024 "COMPUTEX".  
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")   
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgIgQLwH5uT7d8aK2yjZedevRb-gbT_ug")
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="js/main.js")
