section.section-partners 
    .container.section-partners__container 
        h2.title-words(title="Партнеры") Наши партнеры
        .section-partners__grid 
            .section-partners__block
                img(src="./img/xerox.svg" alt="")
            .section-partners__block
                img(src="./img/samsung_logo.svg" alt="")
            .section-partners__block
                img(src="./img/xerox.svg" alt="")
            .section-partners__block
                img(src="./img/samsung_logo.svg" alt="")
            .section-partners__block
                img(src="./img/samsung_logo.svg" alt="")
            .section-partners__block
                img(src="./img/samsung_logo.svg" alt="")
            .section-partners__block
                img(src="./img/samsung_logo.svg" alt="")