section.section-plus
    .container.flex.section-plus__container 
        .section-plus__block.section-plus__block--1 
            h2 каждая 5 заправка катриджа бесплатно
            span.section-plus__bg 5
            img.section-plus__img(src="img/image-free.svg", alt="")
        .section-plus__block.section-plus__block--2(style='background-image: url("./img/delivery-fon.png"); ')
            h2 Доставим технику бесплатно 
            p при заказе на сумму от 300 byn