section.section-all-link 
    .container.section-all-link__container
        a(href="").section-all-link__link
            h3 чистка ноутбуков 
            span.section-all-link__btn.flex
                svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                    rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                    path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                | Подробнее
        a(href="").section-all-link__link
            h3 ремонт компьютера 
            span.section-all-link__btn.flex
                svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                    rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                    path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                | Подробнее
        a(href="").section-all-link__link
            h3 Замена матрицы и по 
            span.section-all-link__btn.flex
                svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                    rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                    path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                | Подробнее
        a(href="./page-laptop.html").section-all-link__link
            h3 ремонт ноутбуков 
            span.section-all-link__btn.flex
                svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                    rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                    path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                | Подробнее
        a(href="").section-all-link__link
            h3 заправка картриджей 
            span.section-all-link__btn.flex
                svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                    rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                    path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                | Подробнее
        a(href="").section-all-link__link
            h3 ремонт картриджей 
            span.section-all-link__btn.flex
                svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(width="60" height="60" rx="30" fill="#FF1010" fill-opacity="0.2")
                    rect(x="10" y="10" width="40" height="40" rx="20" fill="#FA5B18")
                    path(d="M26.3138 23.3138C26.6942 22.9334 27.2894 22.8989 27.7089 23.2101L27.829 23.3138L34.2576 29.7424C34.638 30.1228 34.6726 30.718 34.3614 31.1374L34.2576 31.2576L27.829 37.6862C27.4106 38.1046 26.7322 38.1046 26.3138 37.6862C25.9334 37.3058 25.8989 36.7106 26.2101 36.2911L26.3138 36.171L31.9848 30.5L26.3138 24.829C25.8954 24.4106 25.8954 23.7322 26.3138 23.3138Z" fill="white")
                | Подробнее        