section.section-sertificat 
            .container.section-sertificat__container 
                h2.title-words(title="Документы") Сертификаты
                .section-sertificat__grid 
                    a(href="./img/sertificat.jpg").section-sertificat__block(data-fancybox="gallery")
                        img(src="./img/sertificat.jpg" alt="")
                        p сертификат 1
                    a(href="./img/sertificat.jpg").section-sertificat__block(data-fancybox="gallery")
                        img(src="./img/sertificat.jpg" alt="")
                        p сертификат 2
                    a(href="./img/sertificat.jpg").section-sertificat__block(data-fancybox="gallery")
                        img(src="./img/sertificat.jpg" alt="")
                        p сертификат 3
                    a(href="./img/sertificat.jpg").section-sertificat__block(data-fancybox="gallery")
                        img(src="./img/sertificat.jpg" alt="")
                        p сертификат 4
                    a(href="./img/sertificat.jpg").section-sertificat__block(data-fancybox="gallery")
                        img(src="./img/sertificat.jpg" alt="")
                        p сертификат 5
                    a(href="./img/sertificat.jpg").section-sertificat__block(data-fancybox="gallery")
                        img(src="./img/sertificat.jpg" alt="")
                        p сертификат 6