section.section-service-plus 
    .container.flex.section-service-plus__container
        .section-service-plus__block 
            img(src="./img/garant-icon.svg", alt="")
            p Лучшее качество и гарантия
        .section-service-plus__block 
            img(src="./img/people-icon.svg", alt="")
            p Опытные мастера 
        .section-service-plus__block 
            img(src="./img/rep-icon.svg", alt="")
            p Качественные материалы и различные виды работ
        .section-service-plus__block 
            img(src="./img/phone-icon.svg", alt="")
            p Наши операторы ответят на любые Ваши вопросы